@import 'bootstrap/dist/css/bootstrap.min.css';



.App {
  text-align: center;
  background: radial-gradient(circle farthest-corner at center center, #90a6b4 0%, #141923 100%);
}

.cards {
 justify-content: center;
}
