@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap');


html, body {
  height: 100vh;
  padding: 0%;
  margin: 0%;
  background: linear-gradient(to right, #0cbaba 50%, #380036, darksalmon);
}

.App {
  color: rgb(255, 255, 255) ;
  text-align: center;
  
}

.h1 {
  font-family: 'Merriweather', serif; 
  padding-right: 150px;
  /* padding-top: 100vh; */
}

.Card1 {
  font-family: 'Merriweather', serif;
  width: 18rem; 
  margin-left: 40%;
  margin-top: 30px;
}
a.btn.btn-danger1 {
  color: white;
}

.Card2 {
  font-family: 'Merriweather', serif;
  width: 18rem;
  margin-left: 40%;
  margin-top: 30px;
}

a.btn.btn-danger2 {
  color: white;
}
a.btn.btn-danger22 {
  color: whitesmoke;
  margin-left: 10px;
}

.Card3 {
  font-family: 'Merriweather', serif;
  width: 18rem;
  margin-left: 40%;
  margin-top: 30px;
}

a.btn.btn-danger3 {
  color: white;
}

a.btn.btn-danger33 {
  color: whitesmoke;
  margin-left: 10px;
}