@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap');
.App {
  text-align: center;
  background: linear-gradient(to right, #0cbaba 50%, #380036, darksalmon);
}

.h1 {
  font-family: 'Merriweather', serif;
  border: 1px solid red;
}

.Card1 {
  font-family: 'Merriweather', serif;
  border: 1px solid red;
  width: 18rem; 
  margin-left: 40%;
  margin-top: 30px;
}

.Card2 {
  font-family: 'Merriweather', serif;
  border: 1px solid red;
  width: 18rem;
  margin-left: 40%;
  margin-top: 30px;
}

.Card3 {
  font-family: 'Merriweather', serif;
  border: 1px solid red;
  width: 18rem;
  margin-left: 40%;
  margin-top: 30px;
}