@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap');


html, body {
  height: 100vh;
  padding: 0%;
  margin: 0%;
  background: #959595;
  background: #FF0000;
  background: -webkit-linear-gradient(to left, #FF0000 0%, #000000 100%);
  background: -moz-linear-gradient(to left, #FF0000 0%, #000000 100%);
  background: linear-gradient(to left, #FF0000 0%, #000000 100%);
}

.App {
  color: rgb(255, 255, 255) ;
  text-align: center;
  
}

.h1 {
  font-family: 'Merriweather', serif; 
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  font-size: 66px;
  margin-top: 10%;
}

.Card1 {
  font-family: 'Merriweather', serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  width: 18rem; 
  margin-left: 45%;
  margin-top: 30px;
  background: #993da100;
  border-radius: 20px;
}
a.btn.btn-danger1 {
  color: white;
}

.Card2 {
  font-family: 'Merriweather', serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  width: 18rem;
  margin-left: 45%;
  margin-top: 30px;
  background: #993da117;
  border-radius: 20px;
}

a.btn.btn-danger2 {
  color: white;
}
a.btn.btn-danger22 {
  color: whitesmoke;
  margin-left: 10px;
}

.Card3 {
  font-family: 'Merriweather', serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  width: 18rem;
  margin-left: 45%;
  margin-top: 30px;
  background: #993da117;
  border-radius: 20px;
}

a.btn.btn-danger3 {
  color: white;
}

a.btn.btn-danger33 {
  color: whitesmoke;
  margin-left: 10px;
}

.Card4 {
  font-family: 'Merriweather', serif;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  width: 18rem;
  margin-left: 45%;
  margin-top: 30px;
  background: #993da117;
  border-radius: 20px;
}

a.btn.btn-danger4 {
  color: white;
}
a.btn.btn-danger44 {
  color: whitesmoke;
  margin-left: 10px;
}

.socials {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin-left: 43%;
  margin-top: 25px;
}